{% extends 'base.html.twig' %}

{% block title %}Hey {{ pu.firstName }} {{ pu.lastName }} !{% endblock %}

{% block body %}
<style>
p{margin-bottom:8px;}
</style>
    <div class="flex justify-center mb-4 mx-auto">
        <div class="sm:w-1/2 md:w-[420px] text-orange-700">
            <h1 class="h3 mb-3 font-weight-normal text-center text-orange-400">🌳Your infos {{ pu.firstName }}🌳</h1>
            
            {% if pu.picture %}
                <img src="{{ asset('profilesPictures/' ~ pu.picture) }}" alt="                    Your Profile Picture" style="height: 150px; border-radius: 50%;" class='mx-auto select-none pointer-events-none my-2'>
            {% else %}
                <p class='text-center'>No profile picture uploaded yet.</p>
            {% endif %}

            <div class='personal_bg'>
                <p><span class='text-green-700 text-sm'>Your first name:   </span>{{ pu.firstName }}</p>
                <p><span class='text-green-700 text-sm'>Your last name:   </span>{{ pu.lastName }}</p>
                <p><span class='text-green-700 text-sm'>Your email:          </span>{{ pu.email }}</p>
                <p><span class='text-green-700 text-sm'>Your description: </span>{{ pu.description }}{% if pu.description is empty %}No description yet.{% endif %}</p>

                {% if 'patient' in pu.roles and pu.interestedIn is not empty %}
                    <p><span class='text-green-700 text-sm'>Your domains of interests :<br>
                        {% for interest in pu.interestedIn %}
                            <span class='text-green-700 text-sm'>                          *</span></span> {{ interest }}<br>
                        {% endfor %}
                    </p>
                {% elseif 'patient' in pu.roles %}
                    <p><span class='text-green-700 text-sm'>No domain of interest registered yet.</p>
                {% endif %}

                {% if 'professional' in pu.roles %}
                    <p><span class='text-green-700 text-sm'>Your specialization{% if pu.specialization|length > 1 %}s:</span>
                        {% for spe in pu.specialization %}<br>                          * {{ spe }}{% endfor %}
                    {% else %}
                    :</span> {{ pu.specialization[0] }}
                    {% endif %}</p>
                {% endif %}
                <p>
                    <span class='text-green-700 text-sm'>Registered as :</span>
                       
                    {% for role in pu.roles|slice(1) %}
                        {{ role }} 
                    {% endfor %}
                </p>
                {% if pu.video %}
                    {% set videoId = pu.video|split('v=')|last %}
                    
                    {% set embedUrl = 'https://www.youtube.com/embed/' ~ videoId %}
                    <div class="relative overflow-hidden rounded-md" style="padding-top: calc(9 / 16 * 100%);">
                        <iframe src="{{ embedUrl }}" frameborder="0" allowfullscreen class="absolute top-0 left-0 w-full h-full"></iframe>
                    </div>
                {% endif %}
                <p><span class='text-green-700 text-sm'>Member since:     </span>{{ pu.registrationDate|date('F Y') }}</p>
            </div>
            <div class="text-right">
                {% if 'professional' in pu.roles and 'patient' not in pu.roles %}
                    {% set update_controller = 'professional_update' %}
                {% elseif 'patient' in pu.roles and 'professional' not in pu.roles %}
                    {% set update_controller = 'patient_update' %}
                {% else %}{# If user is patient and professional (not supposed to be something else or nor, neither even both in here atm) #}
                    <a href="{{ path('{{ professional_update }}') }}" class="btn bg-blue-700 hover:bg-blue-800 text-slate-200 hover:text-slate-100 mr-5">Modify your Professional profile</a>
                    {% set update_controller = 'patient_update' %}
                {% endif %}
                <a href="{{ path(update_controller) }}" class="btn bg-blue-700 hover:bg-blue-800 text-slate-200 hover:text-slate-100 mr-5">Modify your profile</a>
            </div>
        </div>
    </div>
{% endblock %}