{% extends 'base.html.twig' %}

{% block title %}{{ pu.firstName }} {{ pu.lastName }} personal page{% endblock %}

{% block stylesheet %}
p, button{margin-bottom: 0.7em}
{% endblock %}

{% block body %}
    <div class="flex justify-center">
        <div class="w-1/2 xs:w-full mx-12 xs:mx-1 text-orange-700">
            <h1 class="text-center text-orange-400 mb-4">🌳Your infos {{ pu.firstName }}🌳</h1>
            
            {% if pu.picture is defined %}
                <img src="{{ asset('profilesPictures/' ~ pu.picture) }}" alt="Your Profile Picture" style="height: 150px; border-radius: 50%;" class='mx-auto'>
            {% else %}
                <p class='text-center'>No profile picture uploaded yet.</p>
            {% endif %}

            <p><span class='text-green-700 text-sm'>Your first name: </span>{{ pu.firstName }}</p>
            <p><span class='text-green-700 text-sm'>Your last name: </span>{{ pu.lastName }}</p>
            <p><span class='text-green-700 text-sm'>Your email: </span>{{ pu.email }}</p>
            <p><span class='text-green-700 text-sm'>Your description: </span>{{ pu.description }}{% if pu.description is empty %}No description yet.{% endif %}</p>

            {% if 'professional' in pu.roles %}
                <p><span class='text-green-700 text-sm'>Your specialization{% if pu.specialization|length > 1 %}s:</span>
                    {% for spe in pu.specialization %}<br>                                * {{ spe }}{% endfor %}
                {% else %}
                :</span>
                    {{ pu.specialization[0] }}
                {% endif %}</p>
                <p>
                    <span class='text-green-700 text-sm'>You are registered as :</span>
                    {% for role in pu.roles|slice(1) %}
                        {{ role }} 
                    {% endfor %}
                </p>
            {% endif %}
            
            <p><span class='text-green-700 text-sm'>Member since: </span>{{ pu.registrationDate|date('F Y') }}</p>

            <div class="text-right">
                {% if 'professional' in pu.roles and 'patient' not in pu.roles %}
                    {% set update_controller = 'professional_update' %}
                {% elseif 'patient' in pu.roles and 'professional' not in pu.roles %}
                    {% set update_controller = 'patient_update' %}
                {% else %}{# If user is patient and professional (not supposed to be something else or nor, neither even both in here atm) #}
                    <a href="{{ path('{{ professional_update }}') }}" class="btn btn-danger text-slate-300">Modify your Professional profile</a>
                    {% set update_controller = 'patient_update' %}
                {% endif %}
                <a href="{{ path(update_controller) }}" class="btn btn-danger text-slate-300">Modify your profile</a>
            </div>
        </div>
    </div>
{% endblock %}