{% extends 'base.html.twig' %}

{% block title %}Hello PatientRegisterController!{% endblock %}

{% block body %}

<div class="container mb-4">
    <h1 class='text-center mb-4'>Patient Registration</h1>

    {% if form_errors(form) %}
        <div class="alert alert-danger">{{ form_errors(form) }}</div>
    {% endif %}

    <div class="relative mx-auto sm:w-[400px] w-full">
        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate', 'class' : 'w-[400px] mx-auto'}}) }}
        {{ form_row(form.first_name, {'attr': {'class': 'form-control mb-3', 'placeholder': 'First Name'}}) }}
        {{ form_row(form.last_name, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Last Name'}}) }}
        {{ form_row(form.email, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Email'}}) }}
        {{ form_row(form.picture, {'attr': {'class': 'form-control mb-3'}}) }}
        {{ form_row(form.description, {'attr': {'class': 'form-control mb-3', 'rows': '4', 'placeholder': 'Description'}}) }}
        {{ form_row(form.interestedIn, {'label_attr': {'class': 'd-block'}, 'attr': {'class': 'form-control mb-3', 'style': 'height: 200px; display: inline-block; vertical-align: top;'}}) }}
        {{ form_row(form._token) }}
        {{ form_row(form.password, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Password'}}) }}
        <div style="text-align: right; margin-right: 16px">
            {{ form_row(form.save, {'attr': {'class': 'btn bg-blue-500 hover:bg-blue-600 text-slate-200 hover:text-slate-200'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
